<!-- <p *ngFor='let event of events'>
  <span>title: {{event.name}}</span><br>
  <span>Date: {{event.eventWeb}}</span>
</p> -->



          <div class="col-md-9 col-sm-offset-3" *ngFor='let event of events'>
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">


                         </div>
                            <div class="user">
                            </div>

                        </div>
                        <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h3 class="motto">{{event.eventAdress}}</h3>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="text-center">{{event.name}}</h3>
                                    <p class="text-center">{{event.inscribedFinalDate}}</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>{{event.km}}</h4>
                                            <p><a [routerLink]="['/home/event-info', event._id]">{{event._id}}</a></p>
                                        </div>
                                        <div class="stats">
                                            <h4>{{event.slope}}</h4>
                                            <p>
                                                Desnivel
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>{{event.inscribed}}</h4>
                                            <p>
                                                Inscribed
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end back panel -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
