.event{
  padding-top: 9%;
}

.event-info{
    padding-left:15%;
}
.race-event{
  background-color: #0D7377;
  color:white;
}
.putRigth{

}
.boton{
  color:red;
}
.inscribed{
  background-color: #0D7377;
  color:white;
}
.inscribed .boton{
  color:#0D7377;
}
.participantes{
  font-size: 3em;
}
.header-parti{
  font-size:2em;
}
#curve_chart{
  height: 260px;
  width: 430px;
}
#map{
  height: 350px;
  width: 630px;
}

.chart{
height: 10px;
background-color:#ECF0F1;
border-style: none;


}
#chart_div{
  width: 200px;
  height: 350px;
}
