.event-info{

    padding-left:20%;
}

#curve_chart{
  height: 260px;
  width: 430px;
}
#map{
  height: 350px;
  width: 430px;
}

.slope{
  margin-left: 20%;

}
#chart_div{
  width: 100px;
  height: 350px;
}
