
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN9OdByHcEHDc-fwHvjNsvh6XKKDvrciY" async defer></script>
<div class="container event-info" *ngIf= "user">
    <div class="row" *ngIf="event">
      <div class="col-md-9">
          <div>
              <div class="panel panel-default">
                  <div class="text-center header">{{event.name}}</div>
                  <div class="panel-body text-center">
                    asdasd
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-5">
          <div>
              <div class="panel panel-default">
                  <div class="text-center header"></div>
                  <div class="panel-body text-center" id="map">

                  </div>
              </div>
          </div>
      </div>
        <div class="col-md-4">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header slope">Google MAPS Api-> slope Box</div>
                    <div class="panel-body text-center" id=curve_chart>
                      <div id="pie_chart" [chartData]="pie_ChartData" [chartOptions] = "pie_ChartOptions" chartType="PieChart" GoogleChart></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <div class="panel panel-default">

                    <div class="panel-body text-center">
                      <h4>{{event.name}}</h4>
                      <div>
                      {{event.name}}<br />
                    {{event.eventAdress}}<br />
                      {{event.inscribed}}<br />
                      {{event.eventWeb}}<br />
                      </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">List inscribed user</div>
                    <div class="panel-body text-center">
                        <h4>Address</h4>
                        <div>
                        2217 Washington Blvd<br />
                        Washington DC<br />
                        #(703) 1234 1234<br />
                        service@company.com<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
