.profile{
  padding-top: 6%;
  background-color:#0D7377;
  width:16%;
  height: 100%;
  position:fixed;
  border-style: none;
  color:white;
}
.profile img{
  border-radius: 30%;
  width:120px;
  height:120px;
}
.profile a{
color:white;
}
.panel-body{
    border-style: none;
    text-align:center;

}
.btn-submit{

  margin-top: 10%;
  width:130px;
  height: 30px;
  color:#0D7377;
}
.panel-default{
  background-color: #0D7377;
    border-style: none;
}
.media{
background-color: #0D7377;

}
.media-body{
background-color: #0D7377;
line-height:0.5em;
text-align: center;
}
.btn , .btn-link{
line-height:0.5em;

}
