<div class="container edit" >
<form class="form-horizontal"  *ngIf= "user">
<fieldset>

<!-- Form Name -->
<legend>Edit profile</legend>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">name</label>
  <div class="col-md-4">
  <input id="textinput" name="name" [(ngModel)]="editInfo.name" type="text" placeholder= {{user.name}} class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">last name</label>
  <div class="col-md-4">
  <input id="textinput" name="lastName" [(ngModel)]="editInfo.lastname" type="text" placeholder= {{user.lastName}} class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">email</label>
  <div class="col-md-4">
  <input id="textinput" name="email" [(ngModel)]="editInfo.email" type="text" placeholder= {{user.email}} class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">town</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder= {{user.town}} class="form-control input-md">
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">club</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder= {{user.club}} class="form-control input-md">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" (click)="saveUser()" name="singlebutton" class="btn btn-primary">submit</button>
  </div>
</div>

</fieldset>
</form>

</div>
