.edit{
  padding-top: 6%;
  background-color: #ECF0F1;
  text-align: center;
  padding-top:10%;
  padding-bottom: 14%;
  margin-right:0%;


}
.edit button{
  margin-bottom: 5%;
}
legend{
  padding-top: 1%;
  font-size: 3em;
}
label{
  font-size: 1.4em;
}
