<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-background">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <form *ngIf="!user">
            <h4>RACEAPP</h4>
            <h5>Name</h5>
            <input type="text" class="form-control input-sm chat-input" [(ngModel)]="formInfo.name" name="name" />
            <br>
            <h5>Password</h5>
            <input type="password" class="form-control input-sm chat-input" [(ngModel)]="formInfo.password" name="password" />
            <br>
            <label class="switch" id="switch">
            <input type="checkbox" name="check" [(ngModel)]="formInfo.check"> Are you a race organizer?
            <br>

            <div class="slider round"></div>
            </label>
            <div class="wrapper">
              <span class="btn btn-primary">
              <button (click)="signup()"> login </button>
            </span>
            </div>
          </form>
          <div *ngIf="user">
            <h2> You are now logged in as {{ user.name }}!! </h2>
            <p> Here's the user object </p>
            <pre> {{ user | json }} </pre>

            <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
            <pre> {{ privateData | json }} </pre>
            <button (click)="logout()"> logout </button>
            <button (click)="getPrivateData()"> Get private data </button>
          </div>

          <p class="error"> {{ error }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
